:root {
  --background: rgba(255, 255, 255, 1);
  --navbarBackground: rgba(22, 22, 22, 1);
  --textNavbar: rgba(255, 255, 255, 1);
  --text: rgba(55, 55, 55, 1);
  --prognozaCardBackground: rgba(55, 55, 55, 1);
  --prognozaCardText: rgba(255, 255, 255, 1);
}
body {
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: arial;
  display: block;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome 49+ */
  -moz-user-select: none; /* Firefox 43+ */
  -ms-user-select: none; /* No support yet */
  user-select: none;
}
.App {
  display: flex;
  flex-direction: column;
}
.Navbar {
  background-color: var(--navbarBackground);
  color: var(--textNavbar);
  width: 100vw;
  padding: 1vh 15vw 1vh 15vw;
  font-size: 4vh;
  display: flex;
  flex-direction: row;
}
.NavbarDreapta {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
.NavbarDreapta div {
  padding-left: 20px;
  cursor: pointer;
}
.Content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
}
.PrognozaTop {
  margin: 0 15vw 0 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.PrognozaCard {
  height: 160px;
  width: 120px;
  padding: 10px;
  background-color: var(--prognozaCardBackground);
  border-radius: 10px;
  box-shadow: 0px 4px 5px 2px gray;
  color: var(--prognozaCardText);
}
.PrognozaCardTemperaturi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Footer {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  background-color: var(--navbarBackground);
  color: var(--textNavbar);
}
.PrognozaCardLoading {
  height: 160px;
  width: 120px;
  padding: 10px;
  background-color: var(--prognozaCardBackground);
  border-radius: 10px;
  box-shadow: 0px 4px 5px 2px gray;
  color: var(--prognozaCardText);
  display: flex;
  justify-content: center;
  align-items: center;
}
.PrognozaCardLoading img {
  width: 70px;
  height: 70px;
}
